/* Reset básico de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

body {
    background-color: #f4f7f6;
    color: #068302;
    line-height: 1.6;
}

/* Contenedor central */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

/* Cabecera */
.header {
    background-color: #147900;
    color: white;
    padding: 40px 0;
    text-align: center;
}

.header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.header p {
    font-size: 1.2rem;
    color: #bdc3c7;
}

/* Sección Principal */
.section-title {
    text-align: center;
    margin: 40px 0;
    color: #000000;
    font-size: 2rem;
}

/* Grid de las Tarjetas */
.grid-categorias {
    display: grid;
    /* Esto hace que se acomoden automáticamente dependiendo de la pantalla */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    margin-bottom: 60px;
}

/* Diseño de las tarjetas */
.card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 25px rgba(0,0,0,0.2);
}

.card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.card-content {
    padding: 20px;
    text-align: center;
}

.card-content h3 {
    color: #ee1a02;
    margin-bottom: 15px;
    font-size: 1.4rem;
}

.card-content p {
    color: #666;
    font-size: 0.95rem;
    margin-bottom: 20px;
    min-height: 60px;
}

/* Botón */
.btn-reportar{
    display: inline-block;
    padding: 10px 20px;
    background-color: #ff0000;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.btn-reportar:hover {
    background-color: #ff0000;
}

/* Pie de página */
.footer {
    background-color: #2c3e50;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}